<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy"
		content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">

	<title>Scraper Web</title>

	<link href="./styles.css" rel="stylesheet">
</head>

<body>
	<div class="content">
		<h2 id="status" class="msgStatus">Não iniciado</h2>
		<input type="text" name="url" id="url" class="inputUrl" placeholder="URL">

		<div class="box-btns">
			<button id="start" class="btn">▶️</button>
			<button id="pause" class="btn">⏯️</button>
			<button id="stop" class="btn">⏹️</button>
		</div>
	</div>


	<script src="./script.js"></script>
</body>

</html>